<table>
    <tr>
        <td>Name</td><td>{{ organization.name }}</td>
    </tr>
    <tr>
        <td>Alternate Name</td><td>{{ organization.alternate_name }}</td>
    </tr>
    <tr>
        <td>Description</td><td>{{ organization.description }}</td>
    </tr>
    <tr>
        <td>Email</td><td>{{ organization.email }}</td>
    </tr>
    <tr>
            <td>Url</td><td>{{ organization.url }}</td>
        </tr>
    <tr>
        <td>Tax Status</td><td>{{ organization.tax_status }}</td>
    </tr>
    <tr>
        <td>Tax Id</td><td>{{ organization.tax_id }}</td>
    </tr>
    <tr>
        <td>Year Incorporated</td><td>{{ organization.year_incorporated }}</td>
    </tr>
    <tr>
        <td>Legal Status</td><td>{{ organization.legal_status }}</td>
    </tr>
</table>