<div>
  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef md-sort-header>Program Name</md-header-cell>
      <md-cell *mdCellDef="let element"><a href="service-view/{{ element._id }}"> {{element.name}} </a></md-cell>
    </ng-container>

    <ng-container mdColumnDef="organizationName">
        <md-header-cell *mdHeaderCellDef md-sort-header>Coordinating Organization</md-header-cell>
        <md-cell *mdCellDef="let element">{{element.organizationName}}</md-cell>
      </ng-container>

    <ng-container mdColumnDef="city">
      <md-header-cell *mdHeaderCellDef md-sort-header>City</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.physicalAddress.city}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="county">
      <md-header-cell *mdHeaderCellDef md-sort-header>County</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.physicalAddress.county}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="court">
      <md-header-cell *mdHeaderCellDef md-sort-header>Court</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.selectedCourt}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="dateReviewed">
        <md-header-cell *mdHeaderCellDef md-sort-header>Date Last Reviewed</md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.dateReviewed}} </md-cell>
      </ng-container>

    <ng-container mdColumnDef="edit">
      <md-header-cell *mdHeaderCellDef md-sort-header></md-header-cell>
      <md-cell *mdCellDef="let element">
        <a href="service-edit/{{ element._id }}" class="btn btn-primary">Edit</a>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>