<h1>Service Form</h1>
<form [formGroup]="serviceForm" novalidate>

  <div class="form-group">
    <label class="center-block">Organization:</label>
    <input class="form-control" type="text" formControlName="organizationName">
  </div>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Description:
      <textarea class="form-control" formControlName="description"></textarea>
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label>Url:</label>
      <input class="form-control" formControlName="url">
    </div>
    <div class="form-group col-5">
      <label>Email:</label>
      <input class="form-control" formControlName="email">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label>Status:</label>
      <input class="form-control" formControlName="status">
    </div>
    <div class="form-group col">
      <label>Fees:</label>
      <input class="form-control" formControlName="fees">
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Application Process:
      <textarea class="form-control" formControlName="applicationProcess" rows="3"></textarea>
    </label>
  </div>

  <!-- <div class="form-group">
    <h4>Organization</h4>
    <select class="form-control" formControlName="organization">
      <option *ngFor="let organization of organizations" [value]="organization">{{organization.name}}
      </option>
    </select>
  </div> -->

  <div class="form-group">
    <div formGroupName="program">
      <label class="center-block">Program Name
        <input class="form-control" formControlName="name">
      </label>
    </div>
  </div>

  <div formGroupName="contact" class="well well-lg">
    <h4>Contact</h4>
    <div class="row">
      <div class="col">
        <label class="half-width">Name:</label>
        <input class="form-control" formControlName="name">
      </div>
      <div class="col">
        <label class="half-width">Title:</label>
        <input class="form-control" formControlName="title">
    </div>
    </div>
  </div>

  <div formGroupName="physicalAddress" class="well well-lg">
    <h4>Address</h4>
    <label class="center-block">Line 1:
      <input class="form-control" formControlName="address1">
    </label> 
    <label class="center-block">Line 2:
      <input class="form-control" formControlName="address2">
    </label>
    <div class="row">
      <div class="col-6">
        <label class="half-width">City:</label>
        <input class="form-control" formControlName="city">
      </div>
      <div class="col-4">    
        <label class="half-width">State:</label>
        <input class="form-control" formControlName="stateProvince" placeholder="MA">
      </div>
      <div class="col-2">
        <label class="half-width">Postal Code:</label>
        <input class="form-control" formControlName="postalCode">
      </div>
    </div>
  </div>

  <div formArrayName="contactNumberFA" class="well well-lg">
    <h4>Contact Numbers</h4>
    <div *ngFor="let contactNumber of contactNumberFA.controls; let i=index" [formGroupName]="i" >
      <!-- The repeated phone template -->
      <div style="margin-left: 1em;">
        <div class="form-group row">
          <div class="col">
            <label>Number:</label>
            <input class="form-control" formControlName="number">
          </div>
          <div class="col">
            <label>Extension:</label>
            <input class="form-control" formControlName="extension">
          </div>
          <div class="col">
            <label>Type:</label>
            <input class="form-control" formControlName="type">
          </div>
        </div>
      </div>
    </div>
    <button (click)="addContactNumber()" type="button"class="btn btn-secondary">Add</button>
  </div>

  <div formArrayName="regularScheduleFA" class="well well-lg">
    <h4>Regular Schedule</h4>
    <div *ngFor="let regularSchedule of regularScheduleFA.controls; let i=index" [formGroupName]="i" >
      <div style="margin-left: 1em;">
        <div class="form-group row">
          <div class="col">
            <label>Weekday:</label>
            <input class="form-control" formControlName="weekday" placeholder="Monday - Friday">
          </div>
          <div class="col">
            <label>Opens at:</label>
            <input class="form-control" formControlName="opensAt" placeholder="9:00 am">
          </div>
          <div class="col">
            <label>Closes at:</label>
            <input class="form-control" formControlName="closesAt" placeholder="5:00 pm">
          </div>
        </div>
      </div>
    </div>
    <button (click)="addRegularSchedule()" type="button" class="btn btn-secondary">Add</button>
  </div>

  <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
  <input type="button" class="btn btn-primary btn-lg" value="Copy"/>

</form>


<!--
<p> Form value: {{ serviceForm.value | json }}</p>
<p> Form status: {{ serviceForm.status | json }}</p>
-->

