Name: {{ service.name  }}
<br/>
Court: {{ service.court }}
<br/>
Description: {{ service.description }}
<br/>
Geographic Eligibility: {{ service.geographicEligibility }}
<br/>
Financila Eligibility: {{ service.financialEligibility }}
<br/>
Organization Name: {{ service.organizationName }}
<br/>
Contact: {{ service.contact.name }} {{ service.contact.title }}
<br/>
Email: {{ service.email }}
<br/>



<!-- contact: Contact;
physicalAddress: PhysicalAddress;
contactNumbers: ContactNumber[];
regularSchedules: RegularSchedule[];
name = ''; 
description = '';
url = '';
email = '';
court = '';
applicationProcess = '';
geographicEligibility = '';
financialEligibility = '';
fees = ''; -->