<form [formGroup]="locationForm" novalidate>
    <div class="well well-lg">
        <h4>Location</h4>
        <div class="form-group">
            <label class="center-block">Name:
            <input class="form-control" formControlName="name">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Alternate Name:
            <input class="form-control" formControlName="alternateName">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Description:
            <input class="form-control" formControlName="description">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Transportation:
            <input class="form-control" formControlName="transportation">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Latitude:
            <input class="form-control" formControlName="latitude">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Longitude:
            <input class="form-control" formControlName="longitude">
            </label>        
        </div>
    </div>
</form>

