<form [formGroup]="organizationForm" novalidate>
    <div class="well well-lg">
        <h4>Organization</h4>
        <div class="form-group">
            <label class="center-block">Name:
            <input class="form-control" formControlName="name">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Description:
                <input class="form-control" formControlName="description">
            </label>
        </div>
    </div>
</form>
