<h2>Service Detail</h2>
<h3><i>Just a FormControl</i></h3>
<form [formGroup]="serviceForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Status:
      <input class="form-control" formControlName="status">
    </label>        
  </div>
  <div formGroupName="organization" class="well well-lg">
      <h4>Organization</h4>
      <div class="form-group">
        <label class="center-block">Name:
          <input class="form-control" formControlName="name">
        </label>
      </div>
      <div class="form-group">
          <label class="center-block">Description:
            <input class="form-control" formControlName="description">
          </label>
        </div>
    </div>
</form>
<p> Form value: {{ serviceForm.value | json }}</p>
<p> Form status: {{ serviceForm.status | json }}</p>

