<html>
<head>
  <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/static/js/lib/underscore-min.js"></script>
  <script src="/static/js/lib/backbone-min.js"></script>
</head>

<body>
  <ul id="list"></ul>
  <div id="edit_organization"></div>


  <script type="text/template" id="edit_organization_form">
    <form method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td>Id</td>
          <td><input type="text" name="id" value="<%=id%>" size=100/></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" value="<%=name%>" size=100/></td>
        </tr>
        <tr>
          <td>Alternate Name</td>
          <td><input type="text" name="alternate_name"
              value="<%=alternate_name%>" size=100/></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description" value="<%=description%>"
             size=100/></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" value="<%=email%>" size=100/></td>
        </tr>
        <tr>
          <td>Url</td>
          <td><input type="text" name="url" value="<%=url%>" size=100/></td>
        </tr>
        <tr>
          <td>Tax Status</td>
          <td><input type="text" name="tax_status" value="<%=tax_status%>"
             size=100/></td>
        </tr>
        <tr>
          <td>Tax Id</td>
          <td><input type="text" name="tax_id" value="<%=tax_id%>"
             size=100/></td>
        </tr>
        <tr>
          <td>Year Incorporated</td>
          <td><input type="text" name="year_incorporated"
            value="<%=year_incorporated%>" size=100/></td>
        </tr>
        <tr>
          <td>Legal Status</td>
          <td><input type="text" name="legal_status"
            value="<%=legal_status%>" size=100/></td>
        </tr>
      </table>
      <input type="submit"/>
    </form>
  </script>

  <script src="/static/js/backbone/models/organization.js"></script>
  <script src="/static/js/backbone/collections/organizations.js"></script>
  <script src="/static/js/backbone/views/organization_edit.js"></script>

  <script>
    var orgId = "{{ organization_id }}";
    var org = new Organization({id: orgId}); // model
    var orgEdit = new OrganizationEdit({model: org}); // view
    orgEdit.render();
  </script>
</body>
</html>
