<html>
<head>
  <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/static/js/lib/underscore-min.js"></script>
  <script src="/static/js/lib/backbone-min.js"></script>
</head>

<body>
  <ul id="list"></ul>

  <script src="/static/js/backbone/models/organization.js"></script>
  <script src="/static/js/backbone/collections/organizations.js"></script>
  <script src="/static/js/backbone/views/organization_row.js"></script>

  <script>
  // begin functions
  function addOrganizations(collection, response, options) {
    _.each(collection, addOrganization);
  }

  function addOrganization(element, index, list) {
    var org = new Organization({
      id: list.models[index].attributes["id"],
      name: list.models[index].attributes["name"],
      description: list.models[index].attributes["description"]
    });
    orgs.add(org);
    addOrganizationRow(org);
  }

  function addOrganizationRow(organization) {
    var orgRow = new OrganizationRow({
      model: organization
    });
    var rend = orgRow.render();
    $("#list").append(orgRow.render().el);
  }
  // end functions

  var orgs = new Organizations();
  orgs.fetch({success: addOrganizations});

  </script>
</body>
</html>
