<script type="text/template" id="edit_organization">
  <form method="POST">
    <table>
      <tr>
        <td>Name</td><td><input type="text" name="name"/></td>
        <td>Alternate Name</td><td><input type="text" name="alt_name"/></td>
        <td>Description</td><td><input type="text" name="description"/></td>
        <td>Email</td><td><input type="text" name="email"/></td>
        <td>Url</td><td><input type="text" name="url"/></td>
        <td>Tax Status</td><td><input type="text" name="tax_status"/></td>
        <td>Tax Id</td><td><input type="text" name="tax_id"/></td>
        <td>Year Incorporated</td><td><input type="text" name="year_inc"/></td>
        <td>Legal Status</td><td><input type="text" name="legal_status"/></td>
      </tr>
    </table>
  </form>
</script>
